.mat-tab-label {
  color: black;
}

.rubrik-wrapper{
  width:100%; 
  height:5%;
}

.tabell-wrapper{
  width: 100%; 
  height: 80%;
}

#mat-tabTabell{
  width: 90vw;
  height: 80vh;
}

.wrapper{
  padding: 5vh;
  height: 100vh;

}

iframe{
  width: 100%;
  height:100%;
}

.mat-tab-body{
  min-height: 80vh;
  min-width: 100%;
}


